pkgbase = sing-geoip
	pkgdesc = sing-geoip database
	pkgver = 20230912
	pkgrel = 1
	url = https://github.com/SagerNet/sing-geoip
	arch = any
	license = GPL3
	optdepends = sing-box: The universal proxy platform
	source = 20230912.geoip-cn.db::https://github.com/SagerNet/sing-geoip/releases/download/20230912/geoip-cn.db
	source = 20230912.geoip.db::https://github.com/SagerNet/sing-geoip/releases/download/20230912/geoip.db
	source = 20230912.LICENSE::https://raw.githubusercontent.com/SagerNet/sing-geoip/20230912/LICENSE
	sha256sums = 6f2b8ad5a3013a9cdfe6ccb7c9f8838c6b0afa9540713e930af8a19389aa3e3e
	sha256sums = a584a10055f1aa7ae3e1cb2b096628c268e124d866a61dda7dede0fc5136b426
	sha256sums = 2f02b7486bcfa90d115c71a20437f3906b6fd5bef81c5dc0efd341399e89d0fd

pkgname = sing-geoip
